<footer>
    <div id="footer-div">
        <h2 id="contact-detail">@Offroad Collective</h2>
        <strong>
        <a href="/about" id="about-link">About</a>
        </strong>
        <strong>
        <a href="/contact" id="contact-link">Contact</a>
        </strong>
    </div>
</footer>  
</body>
</html>