<%- include('./partials/header.ejs')%>
<div id="intro-div">
    <h2 id="intro"> Offroad Collective was founded by Matthew Wieser in 2012 along
        with cofounder Gaius Julius Minimus. Together they have held numerous auctions,
        trades, and offroad races around the country.
    </h2>
</div>

<%- include('./partials/footer.ejs')%>