<%- include('./partials/header.ejs')%>

<div id="connection-form">
    <h2 id="contact-details">Email: mwieser@uncc.edu</h2>
    <h2 id="contact-details">Phone: (704) 418-9404</h2>
    <h2 id="contact-details">Address: 777 GreatAbyss, Atlantis, Pangea</h2>
</div>

<%- include('./partials/footer.ejs')%>