<%- include('./partials/header.ejs')%>
    <div id="intro-div">
        <h2 id="intro"><%= error.status%> Error
        </h2>
        <h2 id="intro"><%= error.message%></h2>
    </div>
<%- include('./partials/footer.ejs')%>