<%- include('./partials/header.ejs')%>
    <div id="intro-div">
        <h2 id="intro">We are a group of offroad racing fanatics who prefer the
            dust and the mud of country roads to the perfectly paved city streets. We welcome new members
            of every background and persuasion. This site aims to help connect like-minded
            individuals. All organized activities are legal and safe. Sign up now!
        </h2>
    </div>
<%- include('./partials/footer.ejs')%>