<%- include('./partials/header.ejs')%>
<br>
    <form action="/login" method="POST" id="sign-up-form">
        <label for="email" id="email-label">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password" id="password-label">Password</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button id="sign-up-button">Login</button><br>
    </form>

</body>

<%- include('./partials/footer.ejs')%>