<%- include('./partials/header.ejs')%>
    <form id="connection-form" action="/connections" method="POST">
        <!--<label for="topic">Topic</label>
        <input type="text" placeholder="Enter Topic Here" id="topic" name="topic" required>
        -->
        <label for="topic" id="topic-label">Topic</label>
        <select placeholder="Choose a Topic" id="topic" name="topic" required>
            <option value="Auction">Auction</option>
            <option value="Offroad Race">Offroad Race</option>
        </select>
        <label for="title-input">Name</label>
        <input type="text" placeholder="Enter Name Here" id="title-input" name="name" required>
        <label for="details-input" id="details-label">Details</label>
        <input type="text" placeholder="Enter Details Here" id="details-input" name="details" required minlength="10">
        <label for="where-input" id="where-label">Where</label>
        <input type="text" placeholder="Enter Location" id="where-input" name="location" required>
        <label for="when" id="when-label">When</label>
        <input type="date" id="when" name="date" required>
        <label for="start" id="start-label">Start</label>
        <input type="time" id="start" name="startTime" required>
        <label for="end" id="end-label">End</label>
        <input type="time" id="end" name="endTime" required>
        <label for="image-url" id="image-url-label">Image URL</label>
        <input type="text" placeholder="Enter Image URL" id="image-url" name="image" required>
        <button id="connections-button">Create Connection</button>
    </form>
<%- include('./partials/footer.ejs')%>