/*
    Color Palette: https://coolors.co/f7fff7-011627-931f1d-7c7c7c-688e26
*/

.mint-cream{
    color: #F7FFF7;
}

.rich-black{
    color: #011627;
}

.ruby-red{
    color: #931F1D;
}

.gray-web{
    color: #7C7C7C;
}

.olive-drab{
    color: #688E26;
}

.persian-plum{
    color: #6F1D1B;
}

#nav-div{
    background-color: #011627;
    width: auto;
    height: 130px;
    border: black solid 3px;
    border-bottom-color: orange;
}

#red-car-image{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border:orange solid 5px;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    height: 100px;
    width: 150px;
    float: left;
}

body{
    background-color: #6F1D1B;
}

#user-navigation{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
}

#brand-info{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    color: white;
}

#intro{
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}

#footer-div{
    background-color: #011627;
    width: 98%;
    height: 130px;
    border: black solid 5px;
    position: absolute;
    bottom: 0;
    display: inline-block;
}

#contact-detail{
    color: white;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}

#about-link{
    font-size: 25px;
    float: left;
    margin-left: 20px;
    margin-top: 39px;
}

#contact-link{
    font-size: 25px;
    float: left;
    margin-left: 20px;
    margin-top: 39px; 
}

#general-navigation{
    background-color: #011627;
    width: auto;
    height: 65px;
    border: black solid 3px; 
    border-top-color: orange;
}

#connections-link{
    margin-left: 15px;
}

#paragraph-div{
    height: 700px;
    width: 500px;
    margin-left: 40%;
    margin-top: 7%;
}

#trading{
    color: white;
}

h2{
    margin-left: 40px;
}

#races{
    color: white;
}

#connection-detail-div{
    height: 500px;
    width: 750px;
    margin-left: 35%;
    margin-top: 7%; 
}

#jeep-img{
    height: 150px;
    width: 200px;
    border: orange solid 5px;
    border-radius: 5px;
    float: left;
    margin-right: 15%;
}

#event-name{
   color: white; 
}

#detail-paragraph{
    color: white;
}

#date{
    color: white;
}

#time{
    color: white;
}

#location{
    color: white;
}

#details-paragraph{
    color: white;
    margin-left: 0px;
}

#details{
    color: #688E26;
}

#intro-div{
    height: 500px;
    width: 700px;
    margin-left: 35%;
    margin-top: 10%;
}

#update-button{
    background-color: black;
    float: right;
    color: white;
    font-size: large;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#delete-button{
    background-color: black;
    float: right;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

button:hover{
    background-color: yellow;
    color: black;
}

#connection-form{
    height: 700px;
    width: 700px;
    background-color: #011627;
    margin:auto;
    margin-top: 5%;
    border: solid orange 5px;
}

label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: larger;
    padding: 10px;
    margin-left: 210px;
    margin-top: 30px;
    
}

input{
    margin-top: 30px;
    width: 200px;
}

#host{
    margin-left: 10px;
}

#details-label{
    margin-left: 185px;
}

#where-label{
    margin-left: 208px;
}

#when-label{
    margin-left: 219px;
}

#start-label{
    margin-left: 208px;
}

#end-label{
    margin-left: 230px;
}

#image-url-label{
    margin-left: 161px;
}

#connections-button{
    margin-left: 330px;
    float: left;
    margin-top: 60px;
    cursor: pointer;
}

#contact-details{
    color: white;
    text-align: center;
    margin-top: 100px;
}

#first-name-label{
    margin-left: 100px;
    margin-bottom: -30px;
    float: left;
}

#firstName{
    margin-left: 65px;
    margin-bottom: 20px;
    float: left;
    display: flex;
}

#last-name-label{
    margin-left: 105px;
}

#lastName{
    margin-left: 65px;
    margin-top: 10px;
}

#email-label{
    margin-left: 125px;
}

#email{
    margin-top: 10px;
    margin-left: 65px;
}

#password-label{
    margin-left: 105px;
}

#password{
    margin-top: 10px;
    margin-left: 65px;
}

#sign-up-button{
    margin-left: 135px;
}

#sign-up-form{
    height: fit-content;
    width: fit-content;
    background-color: #011627;
    margin:auto;
    margin-top: 5%;
    border: solid orange 5px;
    padding: 20px;
    padding-right: 75px;
    padding-bottom: 20px;
}

.success{
    background: green;
    font-size: x-large;
    color: #fff;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    margin: auto;
}

.error{
    background: #F3DE3F;
    font-size: x-large;
    color: #FF3A20;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    margin: auto;
}