/*
    Color Palette: https://coolors.co/f7fff7-011627-931f1d-7c7c7c-688e26
*/

.mint-cream {
  color: #f7fff7;
}

.rich-black {
  color: #011627;
}

.ruby-red {
  color: #931f1d;
}

.gray-web {
  color: #7c7c7c;
}

.olive-drab {
  color: #688e26;
}

.persian-plum {
  color: #6f1d1b;
}

#nav-div {
  background-color: #011627;
  width: auto;
  height: 130px;
  border: black solid 3px;
  border-bottom-color: orange;
}

#red-car-image {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: orange solid 5px;
  border-radius: 5px;
  box-shadow: black 5px 5px 5px;
  height: 100px;
  width: 150px;
  float: left;
}

body {
  background-color: #6f1d1b;
}

#user-navigation {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}

#brand-info {
  float: left;
  margin-left: 10px;
  margin-top: 40px;
  color: white;
}

#intro {
  color: burlywood;
  font-family: "Courier New", Courier, monospace;
}

#footer-div {
  background-color: #011627;
  width: 98%;
  height: 130px;
  position: absolute;
  margin: 0;
  bottom: 0;
  border: black solid 5px;
  display: inline-block;
}

#contact-detail {
  color: white;
  margin-left: 10px;
  margin-top: 40px;
  float: left;
}

#about-link {
  font-size: 25px;
  float: left;
  margin-left: 20px;
  margin-top: 39px;
}

#contact-link {
  font-size: 25px;
  float: left;
  margin-left: 20px;
  margin-top: 39px;
}

#general-navigation {
  background-color: #011627;
  width: auto;
  height: 65px;
  border: black solid 3px;
  border-top-color: orange;
}

#connections-link {
  margin-left: 15px;
}

#paragraph-div {
  height: 700px;
  width: 500px;
  margin-left: 40%;
  margin-top: 7%;
}

#trading {
  color: white;
}

h2 {
  margin-left: 40px;
}

#races {
  color: white;
}

#connection-detail-div {
  height: 500px;
  width: 750px;
  margin-left: 35%;
  margin-top: 7%;
}

#jeep-img {
  height: 150px;
  width: 200px;
  border: orange solid 5px;
  border-radius: 5px;
  float: left;
  margin-right: 15%;
}

#event-name {
  color: white;
}

#detail-paragraph {
  color: white;
}

#date {
  color: white;
}

#time {
  color: white;
}

#location {
  color: white;
}

#details-paragraph {
  color: white;
  margin-left: 0px;
}

#details {
  color: #688e26;
}

#intro-div {
  height: 500px;
  width: 700px;
  margin-left: 35%;
  margin-top: 10%;
}

#update-button {
  background-color: black;
  float: right;
  color: white;
  font-size: large;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#delete-button {
  background-color: black;
  float: right;
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

button:hover {
  background-color: yellow;
  color: black;
}

#connection-form {
  height: 700px;
  width: 700px;
  background-color: #011627;
  margin: auto;
  margin-top: 5%;
  border: solid orange 5px;
}

label {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: larger;
  padding: 10px;
  margin-left: 210px;
  margin-top: 30px;
}

input {
  margin-top: 30px;
  width: 200px;
}

#host {
  margin-left: 10px;
}

#details-label {
  margin-left: 185px;
}

#where-label {
  margin-left: 208px;
}

#when-label {
  margin-left: 219px;
}

#start-label {
  margin-left: 208px;
}

#end-label {
  margin-left: 230px;
}

#image-url-label {
  margin-left: 161px;
}

#connections-button {
  margin-left: 330px;
  float: left;
  margin-top: 60px;
  cursor: pointer;
}

#contact-details {
  color: white;
}

#profile-text{
  font-size: larger;
  color: black;
  margin: auto;
}

#profile-welcome{
  margin: auto;
}

select{
  margin-top: 30px;
  width: 200px;
}

#topic-label{
  margin-left: -50px;
}

#profile-text{
  font-size: 25px;
  color: orange;
  margin: auto;
}

#profile-welcome{
  font-size: 35px;
}

select{
  margin-top: 30px;
  width: 200px;
}

#topic-label{
  margin-left: -50px;
}

#createdConnections{
    color: orange;
    font-size: larger;
}

